@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}
body {
    background: #fafafa;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_inner {
    width: 1200px;
    height: 60px;
    background: #fff;
    box-shadow: 0 0 40px #ddd;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}
.gnb {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gnb > ul {
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.gnb > ul > li {
    width: 120px;
    height: 100%;
    text-align: center;
    line-height: 36px;
}
.gnb > ul > li:hover {
    color: #399fff;
}
.account {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.account > a {
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.account > a > button {
    width: 80%;
    height: 80%;
    background: #fff;
    color: #111;
    border: none;
}
.account > a > button:hover {
    color: #399fff;
    cursor: pointer;
}
.account > ul {
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user_id {
    width: 80%;
    height: 80%;
    text-align: center;
    align-content: center;
    font-size: 15px;
}
.user_id > span {
    font-weight: bold;
    font-size: 16px;
}
main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item_container {
    width: 1440px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item_inner {
    width: 100%;
    height: 100%;
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.item_inner > .item_box {
    width: 200px;
    height: 250px;
    border: 1px solid #dddddd;
}
.item_box > .img_box {
    width: 100%;
    height: 150px;
    padding: 10px;
}
.img_box > img {
    width: 100%;
    height: 100%;
}
.item_content {
    width: 100%;
    height: 50px;
    padding: 10px;
    position: relative;
}
.item_title {
    width: 100%;
}
.item_price {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: end;
}

/* login.php */
.login_container,
.join_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login_container > p,
.join_container > p {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}
.login_box {
    width: 400px;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.login_box > form {
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.login_box > form > .info_inputBox {
    width: 100%;
    height: 100px;
}
.login_box > form > .info_inputBox > input {
    width: 100%;
    height: 50%;
    border: 1px solid #ddd;
    padding-left: 15px;
    outline-color: #399fff;
}
.login_box > form > .info_inputBox > input[type=text] {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.login_box > form > .info_inputBox > input[type=password] {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.login_box > form > .info_inputBox > p {
    font-size: 13px;
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.login_box > form > .info_inputBox > p > span {
    color: #399fff;
}
.login_box > form > .info_inputBox > p > span > a:hover {
    text-decoration: underline;
}
.login_btn,
.join_btn {
    width: 100%;
    height: 50px;
    background: #399fff;
    border: none;
    color: #fff;
    border-radius: 15px;
}
.login_btn:hover,
.join_btn:hover {
    background: #0084ff;
    cursor: pointer;
}

/* join.php */
.join_box {
    width: 400px;
    height: 450px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.join_box > form {
    width: 80%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.join_box > form > .join_info {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}
.join_box > form > .join_info > input {
    width: 100%;
    height: 50px;
    border: 1px solid #ddd;
    outline-color: #399fff;
    padding-left: 15px;
    border-radius: 15px;
}