@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}
body {
    background: #fafafa;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_inner {
    width: 1200px;
    height: 60px;
    background: #fff;
    box-shadow: 0 0 40px #ddd;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}
.gnb {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gnb > ul {
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.gnb > ul > li {
    width: 120px;
    height: 100%;
    text-align: center;
    line-height: 36px;
}
.account {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.account > a {
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.account > a > button {
    width: 80%;
    height: 80%;
    background: #fff;
    color: #111;
    border: none;
}
.account > a > button:hover {
    color: #399fff;
    cursor: pointer;
}
main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item_container {
    width: 1440px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item_inner {
    width: 100%;
    height: 100%;
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.item_inner > .item_box {
    width: 250px;
    height: 300px;
    border: 1px outset #111;
}
.item_box > .img_box {
    width: 100%;
    height: 150px;
    padding: 10px;
}
.img_box > img {
    width: 100%;
    height: 100%;
}
.item_content {
    width: 100%;
    height: 150px;
    padding: 10px;
    position: relative;
}
.item_title {
    width: 100%;
}
.item_price {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: end;
}
.item_show {
    position: absolute;
    width: 80px;
    height: 35px;
    bottom: 0;
    right: 0;
    margin: 10px;
}